.btn {
    &,
    &:link,
    &:visited {

    }

    &:hover {

    }
    
    &:active,
    &:focus {

    }

}

.btn-text {
    &:link,
    &:visited {
    }

    &:hover {

    }

    &:active {
    }
}